PORT=3000

# ===========> Postgres enviroments <===========
NAME_POSTGRES_CONTAINER=base-backend
POSTGRES_PORT=5432
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=base_backend
POSTGRES_HOST=localhost

# ===========> PgAdmin enviroments <===========
PGADMIN_LISTEN_PORT=8080
PGADMIN_DEFAULT_EMAIL=base@email.com
PGADMIN_DEFAULT_PASSWORD=admin

# ===========> Auth enviroments <===========
ROUND_HASH_PASSWORD=8
ROUND_HASH_JWT=10

# ===========> JWT enviroments <===========
EXPIRES_TIME_ACCESS_TOKEN=15m
EXPIRES_TIME_REFRESH_TOKEN=5d
PRIVATE_KEY_ACCESS_TOKEN=accessKey123*
PRIVATE_KEY_REFRESH_TOKEN=refressKey123*

# ===========> Cloudinary enviroments <===========
CLOUD_NAME='cloud-name'
CLOUD_API_KEY='1234567890'
CLOUD_API_SECRET='secret-key-example-123'


# ===========> Nodemailer enviroments <===========
NODEMAILER_USER=base@email.com
NODEMAILER_PASS='keySecret123'